<section class="container--left">
  <h1 class="container--title">{{title}}</h1>
  <p class="container--subtitle">{{subtitle}}</p>
</section>

<section class="container--right">
  <form class="form-group">
    <h2 class="form-group--title">Contacto</h2>
    <input type="text" class="form-group--name" [placeholder]="namePlaceholder" />
    <input type="text" class="form-group--email" [placeholder]="emailPlaceholder"/>
    <button class="button button--success">{{sendButtonText}}</button>
  </form>
</section>
